@import "../css/variable";

.badge {
    min-width: var(--badge-size);
    height: var(--badge-size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 8rem;
    &-wrap {
        display: flex;
        align-items: center;
    }
    &.vertical {
        &-top {
            top: -2rem;
        }
        &-bottom {
            bottom: -2rem;
        }
    }
    &.horizontal {
        &-left {
            right: calc(100% + 2rem - var(--badge-size));
        }
        &-right {
            left: calc(100% + 2rem - var(--badge-size));
        }
    }
    &.radius {
        &-rect {
            border-radius: 0rem;
        }
        &-normal {
            border-radius: var(--radius);
        }
        &-round {
            border-radius: 20rem;
        }
    }
    // color
    @each $semantic, $color in $colors {
        &.color-#{$semantic} {
            background-color: $color;
        }
    }
    .dot {
        width: var(--badge-size-dot);
        height: var(--badge-size-dot);
        border-radius: var(--badge-size-dot);
    }
}