@import "../css/variable";

.button {
    border: none;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0 20rem;
    font-size: var(--btn-txt-medium);
    height: var(--btn-size-large);
    border-radius: var(--radius);
    transition: 0.5s;
    overflow: hidden;
    &:not(.disabled) {
        cursor: pointer;
    }
    &:hover:not(.disabled) {
        background-color: rgb($black, 0.1);
    }
    // Ripple
    &::before {
        content: '';
        background-color: rgb($black, 0.1);
        position: absolute;
        border-radius: 300rem;
        width: 200rem;
        height: 200rem;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    &:not(.disabled):active::before {
        width: 5rem;
        height: 5rem;
        opacity: 1;
        visibility: visible;
        transition: 0s;
    }

    // round
    &.round {
        border-radius: 1000rem;
    }
    //
    &.shadow {
        box-shadow: var(--btn-shadow);
    }
    //color
    &.primary {
        color: var(--primary);
        &:hover:not(.disabled) {
            background-color: rgb(var(--set-primary), 0.1);
        }
        &::before {
            background-color: rgb(var(--set-primary), 0.1);
        }
    }
    &.white {
        background-color: $white !important;
         &:hover:not(.disabled) {
            background-color: rgb($black , 0.1);
        }
        &::before {
            background-color: rgb($black , 0.1);
        }
    }
    //variant
    &.outlined {
        border: 1px solid var(--primary);
        color: var(--primary);
        &.gray {
            border: 1px solid $gray6;
            color: $gray6;
        }
        &.graye {
            border: 1px solid $graye;
            color: $gray9;
            &:not(.disabled):hover {
                background-color: $grayd !important;
            }
        }
        &.disabled {
            border: 1px solid $grayc;
            color: $grayc;
        }
    }
    &.contained {
        background-color: var(--primary);
        color: $white;
        &:not(.disabled):hover {
            background-color: var(--primary_light);
        }
        &.secondary {
            background-color: var(--secondary);
            &:not(.disabled):hover {
                background-color: var(--secondary_light);
            }
        }
        &.gray {
            background-color: $gray6;
            &:not(.disabled):hover {
                background-color: $gray9 !important;
            }
        }
        &.graye {
            background-color: $graye;
            color: $gray6;
            &:not(.disabled):hover {
                background-color: $grayd !important;
            }
        }
        &.disabled {
            background-color: $grayc;
            color: $white;
        }
        
        &::before {
            background-color: rgb($white, 0.2) !important;
        }
    }

    //size
    &.large {
        font-size: var(--btn-txt-large);
        height: var(--btn-size-large);
        padding: 0 30rem;
        &.square {
            width: var(--btn-size-large);
            max-width: var(--btn-size-large);
            min-width: var(--btn-size-large);
            padding: 0;
        }
    }
    &.small {
        font-size: var(--btn-txt-small);
        height: var(--btn-size-small);
        &.square {
            width: var(--btn-size-small !important);
            max-width: var(--btn-size-small !important);
            min-width: var(--btn-size-small !important);
            padding: 0;
        }
    }
    &.extraSmall {
        font-size: var(--btn-txt-extraSmall);
        height: var(--btn-size-extraSmall);
        padding: 0 5rem;
        &.square {
            width: var(--btn-size-extraSmall !important);
            max-width: var(--btn-size-extraSmall !important);
            min-width: var(--btn-size-extraSmall !important);
            padding: 0;
        }
    }
    &.square {
        width: var(--btn-size-medium);
        max-width: var(--btn-size-medium);
        min-width: var(--btn-size-medium);
        padding: 0;
    }
}