@import "../css/variable";
@import "../css/mixin";

.popover {
    background-color: var(--popover-bg);
    border: var(--popover-otl);
    border-radius: var(--radius);
    position: absolute;
    box-shadow: var(--popover-shadow);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    &.open {
        visibility: visible;
        opacity: 1;
    }
    &.Y {
        &-bottom {
            bottom: 0;
        }
        &-bottomEnd {
            top: 100%;
        }
        &-center {
            top: 50%;
            transform: translateY(-50%);
        }
        &-top {
            top: 0;
        }
        &-topEnd {
            bottom: 100%;
        }
    }
    &.X {
        &-left {
            left: 0;
        }
        &-leftEnd {
            right: 100%;
        }
        &-center {
            left: 50%;
            transform: translateX(-50%);
        }
        &-rightEnd {
            left: 100%;
        }
        &-right {
            right: 0;
        }
    }
    &.center {
        transform: translate(-50%, -50%);
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--set-black, 0.01);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    &.open {
        visibility: visible;
        opacity: 1;
    }
}