@import "../css/variable";
@import "../css/mixin";

.tree {
    &-wrap {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-grow: 1;
    }
    &-summary {
        height: var(--tree-h);
        font-size: var(--tree-font-size);
        color: var(--tree-color);
        padding: var(--tree-p);
        display: flex;
        gap: var(--tree-gap);
        position: relative;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        overflow: hidden;
        transition: 0.5s;
        &:hover {
            background-color: var(--tree-hover);
        }
        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            &.deg90 {
                transform: rotate(90deg);
            }
            &.deg180 {
                transform: rotate(180deg);
            }
            &.deg270 {
                transform: rotate(270deg);
            }
            &>.arrow {
                @include mask('arrow-right.svg');
                width: 20rem !important;
                height: 20rem !important;
                background-color: var(--gray6);
                transition: 0.5s;
            }
        }
    }
    &-detail {
        display: flex;
        flex-direction: column;
        padding-left: var(--tree-detail-pl);
        overflow: hidden;
        transition: max-height 1s ease-out;
        max-height: 100vh;
        &.close {
            max-height: 0;
            transition: max-height 0.3s ease-out;
            transition-delay: 0s;
        }
    }
    &-item {
        height: var(--tree-item-h);
        font-size: (--tree-item-font-size);
        color: var(--gray6);
        padding: var(--tree-item-p);
        display: flex;
        gap: var(--tree-item-gap);
        position: relative;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        transition: 0.5s;
        &::after {
            content: '';
            height: var(--tree-item-h);
        }
        &:hover {
            background-color: var(--tree-hover);
        }
        &>.item {
            @include mask('file.svg');
            width: 20rem;
            height: 20rem;
            background-color: var(--gray6);
        }
    }
}