// image url
$imgurl: "@/assets/images/";

html {
  font-size: 1px;
}

//이 부분만 복사하면 됩니다.
:root {
  // mode
  &[data-theme = "light"] {
    --set-black: 0,0,0;
    --set-white: 255,255,255;
    --set-primary: 63,70,243;
    --primary_light: rgb(121,126,252);
    --primary_deep: rgb(10,19,225);
    
    --secondary_light: rgb(244,63,118);
    --secondary_deep: rgb(198,1,60);
    --set-secondary : 225,20,81;
    
    --tertiary_light: rgb(10,142,135);
    --tertiary_deep: rgb(38,206,196);
    --set-tertiary : 18,170,161;
  } 
  &[data-theme = "dark"] {
    background-color: black;
    --set-black: 255,255,255;
    --set-white: 0,0,0;
    --set-primary: 108,114,254;
    --primary_light: rgb(60,67,238);
    --primary_deep: rgb(137,142,255);
    
    --set-secondary : 245,62,117;
    --secondary_light: rgb(226,29,88);
    --secondary_deep: rgb(243,122,158);
    
    --set-tertiary : 56,227,217;
    --tertiary_light: rgb(15,176,167);
    --tertiary_deep: rgb(149,255,249);
  }
  // font
  --font: 'Inter', sans-serif;
  // radius
  --radius: 5rem;
  // color
  

  --primary: rgb(var(--set-primary));
  --secondary: rgb(var(--set-secondary));
  --tertiary: rgb(var(--set-tertiary));
  --black: rgb(var(--set-black));
  --white: rgb(var(--set-white));

  --disabled : var(--grayc);
  --disabled_deep : var(--graya);

  --gray1: rgb(var(--set-black), 0.933);
  --gray2: rgb(var(--set-black), 0.866);
  --gray3: rgb(var(--set-black), 0.8);
  --gray4: rgb(var(--set-black), 0.733);
  --gray5: rgb(var(--set-black), 0.666);
  --gray6: rgb(var(--set-black), 0.6);
  --gray7: rgb(var(--set-black), 0.533);
  --gray8: rgb(var(--set-black), 0.466);
  --gray9: rgb(var(--set-black), 0.4);
  --graya: rgb(var(--set-black), 0.333);
  --grayb: rgb(var(--set-black), 0.266);
  --grayc: rgb(var(--set-black), 0.2);
  --grayd: rgb(var(--set-black), 0.133);
  --graye: rgb(var(--set-black), 0.066);
  --grayf5: rgb(var(--set-black), 0.04);
  --grayf8: rgb(var(--set-black), 0.027);
  --transparent: rgb(var(--set-black), 0);

  // btn
  --btn-size-large: 44rem;
  --btn-size-medium: 34rem;
  --btn-size-small: 28rem;
  --btn-size-extraSmall: 24rem;
  --btn-txt-large:  14rem;
  --btn-txt-medium:  13rem;
  --btn-txt-small:  12rem;
  --btn-txt-extraSmall:  12rem;
  --btn-p-large: 0 30rem;
  --btn-p-medium: 0 20rem;
  --btn-p-small: 0 10rem;
  --btn-p-extraSmall: 0 5rem;
  --btn-shadow : 0 0 8rem 0 var(--grayc);

  // textfield
  --textfield-size-large: 44rem;
  --textfield-size-medium: 34rem;
  --textfield-size-small: 28rem;
  --textfield-size-extraSmall: 24rem;
  --textfield-txt-large:  14rem;
  --textfield-txt-medium:  13rem;
  --textfield-txt-small:  12rem;
  --textfield-txt-extraSmall:  12rem;
  --textfield-p-large: 0 15rem;
  --textfield-p-medium: 0 13rem;
  --textfield-p-small: 0 11rem;
  --textfield-p-extraSmall: 0 9rem;
  --textfield-color: var(--gray9);
  --textfield-focus-color: var(--gray6);
  --textfield-otl: var(--grayc);
  --textfield-focus-otl: var(--gray6);
  --textfield-read-only-bg: var(--graye);
  --textfield-disabled-bg: var(--grayc);
  --textfield-disabled-otl: var(--transparent);

  --textarea-otl: var(--grayc);
  --textarea-focus-otl: var(--gray6);
  
  // checkbox
  --checkbox: var(--gray6);
  --checkbox-disabled : var(--gray9);
  --textarea-font-size: 12rem;
  --textarea-p: 12rem 12rem;

  // checkbox
  --checkbox-size-large: 24rem;
  --checkbox-size-medium: 20rem;
  --checkbox-size-small: 16rem;
  --checkbox-size-extraSmall: 14rem;
  --checkbox-ripple-size-large: calc(var(--checkbox-size-large) * 2);
  --checkbox-ripple-size-medium: calc(var(--checkbox-size-medium) * 2);
  --checkbox-ripple-size-small: calc(var(--checkbox-size-small) * 2);
  --checkbox-ripple-size-extraSmall: calc(var(--checkbox-size-extraSmall) * 2);
}

$colors: (
  "primary" : var(--primary),
  "primary_light" : var(--primary_light),
  "primary_deep" : var(--primary_deep),
  "secondary" : var(--secondary),
  "secondary_light" : var(--secondary_light),
  "secondary_deep" : var(--secondary_deep),
  "tertiary" : var(--tertiary),
  "tertiary_light" : var(--tertiary_light),
  "tertiary_deep" : var(--tertiary_deep),
  "black" : var(--black),
  "gray1" : var(--gray1),
  "gray2" : var(--gray2),
  "gray3" : var(--gray3),
  "gray4" : var(--gray4),
  "gray5" : var(--gray5),
  "gray6" : var(--gray6),
  "gray7" : var(--gray7),
  "gray8" : var(--gray8),
  "gray9" : var(--gray9),
  "graya" : var(--graya),
  "grayb" : var(--grayb),
  "grayc" : var(--grayc),
  "grayd" : var(--grayd),
  "graye" : var(--graye),
  "grayf5" : var(--grayf5),
  "grayf8" : var(--grayf8),
  "white" : var(--white),
  "transparent" : var(--transparent),
  "disabled" : var(--disabled),
  "disabled_deep" : var(--disabled_deep),
);

@each $semantic, $color in $colors {
  .bgc-#{$semantic} {
    background-color: $color;
  }
  .txt-#{$semantic} {
    color: $color;
  }
  .otl-#{$semantic} {
    border: 1px solid $color;
  }
  .otlb-#{$semantic} {
    border-bottom: 1px solid $color;
  }
  .otlb-#{$semantic}-dashed {
    border-bottom: 1px dashed $color;
  }
}

$main : (
  "primary" : var(--set-primary),
  "secondary" : var(--set-secondary),
  "tertiary" : var(--set-tertiary),
  "black" : var(--set-black),
  "white" : var(--set-white),
);

@for $i from 1 to 99 {
  @each $semantic, $color in $main {
    .bgc-#{$semantic}_#{$i}p {
        background-color: rgb($color, calc(#{$i} * 0.01));
    }
    .txt-#{$semantic}_#{$i}p {
        color: rgb($color, calc(#{$i} * 0.01));
    }
    .otl-#{$semantic}_#{$i}p {
        border: 1px solid rgb($color, calc(#{$i} * 0.01));
    }
    .otlb-#{$semantic}_#{$i}p {
        border-bottom: 1px solid rgb($color, calc(#{$i} * 0.01));
    }
    .otlb-#{$semantic}_#{$i}p-dashed {
        border-bottom: 1px dashed rgb($color, calc(#{$i} * 0.01));
    }
  }
  
  .size#{$i} {
      font-size: #{$i}rem;
  }
}