@import '/wonho-ui/css/variable';

:root {
  // --set-primary: 0,255,0;
}

.test {
  border: 1px solid red;
}

.searchbar {
  padding: 0px 30px !important;
}

.icon {
  position: absolute;
  top: calc(50% - 6px);
  right: 20px;
}


.main-search {
  width: 500px;
  height: 50px !important;
  border: 7px solid var(--graya);
  &:focus {
    border: 7px solid var(--primary);
  }
}
body {
  height: 150vh;
}

.checkbox {
  &::after {
    -webkit-mask-image: url("./assets/radio.svg");
  }
  &:checked::after {
    -webkit-mask-image: url("./assets/radio-checked.svg");
  }
}