@import '/wonho-ui/css/variable';

:root {
  // --set-primary: 0,255,0;
}

.test {
  border: 1px solid red;
}

.icon {
  position: absolute;
  top: calc(50% - 6px);
  right: 20px;
}

.i-radio {
  -webkit-mask-image: url("./assets/radio-checked.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: 0 0;
  width: 100%;
  height: 100%;
}
.main-search {
  width: 500px;
  height: 50px !important;
  border: 7px solid var(--graya);
  &:focus {
    border: 7px solid var(--primary);
  }
}
body {
  height: 150vh;
}

.checkbox {
  &::after {
    -webkit-mask-image: url("./assets/radio.svg");
  }
  &:checked::after {
    -webkit-mask-image: url("./assets/radio-checked.svg");
  }
}
.searchbar {
  margin-right: -39rem;
  padding-right: 44rem !important;
}
.btn {
  width: 100px;
  border-radius: var(--radius);
  transition: 0.5s;
  background: #000;
  color: white;
  &:hover {
    border-radius: 100px;
    background-color: white;
    color: black;
    transition: 2s;
  }
}